
<footer>
    <header>
        <h1><a href=<%='/' %>>favorite foods</a></h1>
        <ul class="user-list">
            <% for (let i=0; i < users.length; i++) { %>
                <li>
                    <%= users[i].name %>
                </li>
            <% } %>
        </ul>
    </header>
</footer>