
<footer>
    <header>
        <h1><a href=<%='/' %>>favorite foods</a></h1>
        <ul>
            <li><a href="https://www.linkedin.com/in/caseystocker/">linkedIn</a></li>
            <li><a href="https://github.com/case02">github</a></li>
        </ul>
    </header>
</footer>