<header>
    <h1><a href=<%= '/' %>>favorite foods</a></h1>
    <ul>
        
        <li><a href="/recipe/new">add a recipe</a></li>
        <li><a href="/recipe/new">sign in</a></li>

    </ul>
</header>