<header>
    <h1><a href=<%= '/' %>>favoreats</a></h1>
    <ul>        
        <li><a href="/recipe/seed">seed</a></li>
        <li><a href="/recipe/new">add a recipe</a></li>
        <li><a href="/user/new">create username</a></li>
    </ul>
</header>
