<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs') %>
</head>

<body>
    <div class="body-overlay">
        <!-- ============ HEADER ============ -->
        <%- include ('./partials/header.ejs') %>
        <!-- ============ MAIN ============ -->
        <main id="flex-container">
            <form action="/recipe" method="post" id="createForm">
                <input type="text" name="name" placeholder="Recipe Name" required />
                <input type="text" name="description" placeholder="Description" />
                <input type="text" name="image"
                    placeholder="Upload Image" />
                <input type="number" name="prep-time" placeholder="Prep Time" />
                <input type="number" name="cook-time" placeholder="Cook Time" />
                <input type="number" name="serving size" placeholder="Servings" />
                <input type="text" name="ingredients" placeholder="Ingredients" />
                <input type="text" name="directions" placeholder="Derections" />
                <button type="submit">Create Recipe</button>
            </form>
        </main>
    </div>    
</body>

</html>