<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include ('./partials/head.ejs') %>
</head>

<body>
    <div class="body-overlay">
        <!-- ============ HEADER ============ -->
        <%- include ('./partials/header.ejs') %>
            <!-- ============ MAIN ============ -->
            <main class="show-main">
              
                <h1>
                    WELCOME 
                </h1>
                <ul class="user-list">
                    <% for (let user of users) { %>
                        <li><%= user.name %></li>
                    <% } %>
                </ul>
            </main>
    </div>
</body>

</html>